<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.ReviewBoardMapper">
	
	<!-- insert -->
	<insert id="insert">
		insert into reviewtbl(bno,review,reviewer,storeid,star) values(seq_review.nextval,#{review},#{reviewer},#{storeid},#{star})
	</insert>
	
	<!-- 댓글 하나 가져오기 : rno 가 일치 -->
	<select id="read" resultType="com.spring.domain.ReviewVO">
		select * from reviewtbl where bno=#{bno}
	</select>
	
	<!-- 댓글 수정 : 댓글 내용만 수정, updatedate, rno가 일치하면 -->
	<update id="update">
		update reviewtbl set review=#{review}, star=#{start}, updatedate=sysdate where bno=#{bno}
	</update>
	
	<!-- 댓글 삭제 : rno 일치하면 -->
	<delete id="delete">
		delete from reviewtbl where bno=#{bno}
	</delete>
	
	<!-- 댓글 페이지 처리 -->
	<select id="list" resultType="com.spring.domain.ReviewVO">
	<![CDATA[
		select bno,review,reviewer,storeid,star, reviewdate,updatedate from
		(select /*+INDEX(reviewtbl idx)*/ rownum rn,bno,review,reviewer,storeid,star, reviewdate,updatedate
		from reviewtbl where storeid=#{storeid} and bno>0 and rownum <= #{cri.pageNum} * #{cri.amount})
		where rn>(#{cri.pageNum}-1)*#{cri.amount}
		]]>
	</select>
		

</mapper>