<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.SubwayMapper">

	<!-- 지하철역 확인 -->
	<select id="subwaySelect" resultType="com.spring.domain.SubwayDataVO">
		select * from subway_data where subway_name = #{subway_name}
	</select>


</mapper>